$color1 :rgb(48,48,48);

.headline {
    display:flex;
    justify-content: center;
    align-items: center;
    min-height:400px;
    text-align: center;
    color:$color1;
    h1 {
        font-size:40px;
        text-transform: uppercase;
        font-weight: 500;
    }
    p {
        font-size:25px;
        font-weight:100;
        font-family: initial;
        font-style: italic;
    }
}
.table-column-names {
    width:100%;
    p {
        display:inline-block;
    }
}