$color-gray: #ccc;
$color-main: #595858;

.catalog {
    &-header {
        &-h1 {
            text-align: center;
            text-transform: uppercase;
            font-size: 40px;
            font-style: normal;
        }
        &-desc {
            text-align: center;
            font-style: italic;
            padding: 10px;
            font-size: 17px;
        }
        &-filter{
            margin: 0 auto;
            justify-content: center;
            display: flex;

            &-item select {
                margin: 0 10px 0 10px;
                width: 150px;
                font-style: italic;
                color: $color-main;
            }
        }
    }
    &-products {
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;  

        &-item {
            width: 25%;
            text-decoration: none;
            &-image {
                width: 100%;
                border: 1px solid $color-gray;
                height: 250px;
                background-position: center center;
                background-size: contain;
                background-repeat: no-repeat;
            }
            &-name {
                margin-top: 30px;
                color: $color-main;
                font-weight: 800;
                text-decoration: none;
                text-align: center;
            }
            &-price {
                margin-top: 10px;
                text-align: center;
                color: $color-main;
            }
        }
    }
    &-pagination {
        display: flex;
        margin: 0 auto;
        justify-content: center;
        align-items: center;

        &-item {
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid black;
            background-color: black;
            color: white;
            cursor: pointer;

            &.active {
                background-color: white;
                color: black;
            }
        }
    }
}