$color-gray: #ccc;
$color-main: #595858;

.catalog {
    &-header {
        &-h1 {
            text-align: center;
        }
        &-desc {
            text-align: center;
        }
    }
    &-products {
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        &-item {
            width: 25%;
            text-decoration: none;
            &-image {
                width: 100%;
                border: 1px solid $color-gray;
                height: 250px;
                background-position: center center;
                background-size: contain;
                background-repeat: no-repeat;
            }
            &-name {
                margin-top: 30px;
                color: $color-main;
                font-weight: 800;
                text-decoration: none;
                text-align: center;
            }
            &-price {
                margin-top: 10px;
                text-align: center;
                color: $color-main;
            }
        }
    }
    &-catalog-pagination {
        display: flex;
        margin: 0 auto;
        justify-content: center;
        align-items: center;

        .catalog-pagination-item {
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #aaa;
            cursor: pointer;

            &:active {
                background-color: #ccc;
            }
        }
    }
}