$color1 :rgb(48,48,48);
$color2 : rgb(96,96,96);
$color3 : rgb(187,187,187);
@mixin grid-item-light-grey {
    background-color:$color3;
    .grid-text-container {
        position:relative;
        padding-left:50px;
        padding-right:50px;
        div img {
            width:40px;
            display: block;
            margin:0 auto;
        }
        div:before {
            content:'';
            display: block;
            position:absolute;
            width:25px;
            height:2px;
            background-color: #fff;
            right:calc(50% - 60px);
            top:19px;
        }
        div:after {
            content:'';
            display: block;
            position:absolute;
            width:25px;
            height:2px;
            background-color: #fff;
            left:calc(50% - 60px);
            top:19px;
        }
    }
    p {
        font-size:18px;
        vertical-align: middle;
        text-align: center;
        
    }

}


article {
    text-align:center;
    padding-top:100px;
    padding-bottom:100px;
    h1 {
        font-size:80px;
        font-weight:400;
        color:$color1;
        text-transform: uppercase;

    }
    h2 i {
        font-family: initial;
        font-size:30px;
        color:$color2;
        padding-top:10px;
        font-weight:400;
    }
    button {
        background-color: #fff;
        margin-top:50px;
        font-size:20px;
        color:$color1;
        padding:20px;
        padding-left:30px;
        padding-right:30px;
        cursor:pointer;
        border:solid 1px $color1;
        text-transform: uppercase;
        
        
    }
    & button:focus {
        outline:none;
    }
}
main {
    display:flex;
    justify-content: center;
    .grid {
        display: grid;
        grid-template-columns: repeat(4, 20vw);
        grid-template-rows: repeat(3, 20vw);
        grid-gap: 0;
        span {
            font-style: italic;
            font-family: initial;
            text-align: center;
            color:white;
            
        }
        figure .grid-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .grid-item {
            position:relative;
            display:flex;
            justify-content: center;
            align-items: center;
            overflow:hidden;
        }
        .grid-item1 {
            grid-row-start: 1;
            grid-row-end: 3;
            background-image: url(/uploads/index/1.jpg);
            background-size: cover;
            background-position: 70%;
            h1 {
                font-weight: 100;
                font-size:30px;
                text-transform: uppercase;
                text-align: center;
                color:white;

            }
            span {
                font-size:25px;
            }
            
        }
        .grid-item2 {
            @include grid-item-light-grey;
            
        }
        .grid-item4 {
            background-color:$color2;
            .grid-text-container {
                position:relative;
                padding-left:50px;
                padding-right:50px;
                div img {
                    width:40px;
                    display: block;
                    margin:0 auto;
                    color:white;
                }
            }
            h1 {
                font-weight: 100;
                font-size:30px;
                text-transform: uppercase;
                text-align: center;
                color:white;
            }
            span {
                font-size:25px;
            }
            
        }
        .grid-item5 {
            position: relative;
            background-image: url(/uploads/index/2.jpg);
            background-size: cover;
            h1 {
                font-weight: 100;
                font-size:30px;
                text-transform: uppercase;
                position:absolute;
                left:50%;
                top:50%;
                transform:translate(-50%, -50%);
                text-align: center;
                color:white;
            }
            span {
                font-size:25px;
                text-transform: initial;
            }
        }
        .grid-item6 {
            @include grid-item-light-grey;
        }
        .grid-item7 {
            background-image: url(/uploads/index/4.jpg);
            background-size:cover;
            grid-column-start: 4;
            grid-column-end: 5;
            grid-row-start: 2;
            grid-row-end: 4;
            h1 {
                font-weight: 100;
                font-size:30px;
                text-transform: uppercase;
                text-align: center;
                color:white;
            }
            span {
                font-size:25px;
            }
        }
        .grid-item8 {
            grid-column-start: 3;
            grid-column-end: 4;
            grid-row-start: 3;
            grid-row-end: 4;
            position: relative;

            &::before {
                content:'';
                background-image: url(/uploads/index/6.jpg);
                background-size:cover;
                filter: brightness(50%);
                position:absolute;
                top:0;
                left:0;
                bottom:0;
                right:0;

            }
            h1 {
                font-weight: 100;
                font-size:30px;
                text-transform: uppercase;
                text-align: center;
                color:white;
                z-index: 1000;
            }
            span {
                font-size:25px;
                text-transform: initial;
                z-index: 1000;
            }
        }
        .grid-item9 {
            background-color:$color2;
            .grid-text-container {
                div img {
                    width:40px;
                    display: block;
                    margin:0 auto;
                    color:white;
                }

            }
            h1 {
                font-weight: 100;
                font-size:30px;
                text-transform: uppercase;
                text-align: center;
                color:white;
            }
            
        }
        .grid-item10 {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 3;
            grid-row-end: 4;
        }
        
    }
}

