$color1 :rgb(48,48,48);
$color2 : rgb(96,96,96);


article {
    text-align:center;
    padding-top:100px;
    padding-bottom:100px;
    & h1 {
        font-size:80px;
        font-weight:400;
        color:$color1;
        text-transform: uppercase;

    }
    & h2 i {
        font-family: initial;
        font-size:30px;
        color:$color2;
        padding-top:10px;
        font-weight:400;
    }
    & button {
        background-color: #fff;
        margin-top:50px;
        font-size:20px;
        color:$color1;
        padding:20px;
        padding-left:30px;
        padding-right:30px;
        cursor:pointer;
        border:solid 1px $color1;
        text-transform: uppercase;
        
        
    }
    & button:focus {
        outline:none;
    }
}
main {
    display:flex;
    justify-content: center;
    &-grid {
        display: grid;
        grid-template-columns: repeat(4, 20vw);
        grid-template-rows: repeat(3, 20vw);
        grid-gap: 0;
        figure .grid-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .grid-item1 {
            grid-row-start: 1;
            grid-row-end: 3;
        }
        .grid-item2 {
            background-color:lightgrey;
        }
        .grid-item4 {
            background-color:grey;
        }
        .grid-item6 {
            background-color:lightgrey;
        }
        .grid-item7 {
            grid-column-start: 4;
            grid-column-end: 5;
            grid-row-start: 2;
            grid-row-end: 4;
            
        }
        .grid-item8 {
            grid-column-start: 3;
            grid-column-end: 4;
            grid-row-start: 3;
            grid-row-end: 4;
        }
        .grid-item9 {
            background-color:grey;
        }
        .grid-item10 {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 3;
            grid-row-end: 4;
        }
        
    }
}

