article {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

article h1 {
  font-size: 80px;
  font-weight: 400;
  color: #303030;
  text-transform: uppercase;
}

article h2 i {
  font-family: initial;
  font-size: 30px;
  color: #606060;
  padding-top: 10px;
  font-weight: 400;
}

article button {
  background-color: #fff;
  margin-top: 50px;
  font-size: 20px;
  color: #303030;
  padding: 20px;
  padding-left: 30px;
  padding-right: 30px;
  cursor: pointer;
  border: solid 1px #303030;
  text-transform: uppercase;
}

article button:focus {
  outline: none;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (20vw)[4];
      grid-template-columns: repeat(4, 20vw);
  -ms-grid-rows: (20vw)[3];
      grid-template-rows: repeat(3, 20vw);
  grid-gap: 0;
}

main .grid span {
  font-style: italic;
  font-family: initial;
  text-align: center;
  color: white;
}

main .grid figure .grid-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main .grid .grid-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

main .grid .grid-item1 {
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
  background-image: url(/uploads/index/1.jpg);
  background-size: cover;
  background-position: 70%;
}

main .grid .grid-item1 h1 {
  font-weight: 100;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  color: white;
}

main .grid .grid-item1 span {
  font-size: 25px;
}

main .grid .grid-item2 {
  background-color: #bbbbbb;
}

main .grid .grid-item2 .grid-text-container {
  position: relative;
  padding-left: 50px;
  padding-right: 50px;
}

main .grid .grid-item2 .grid-text-container div img {
  width: 40px;
  display: block;
  margin: 0 auto;
}

main .grid .grid-item2 .grid-text-container div:before {
  content: '';
  display: block;
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: #fff;
  right: calc(50% - 60px);
  top: 19px;
}

main .grid .grid-item2 .grid-text-container div:after {
  content: '';
  display: block;
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: #fff;
  left: calc(50% - 60px);
  top: 19px;
}

main .grid .grid-item2 p {
  font-size: 18px;
  vertical-align: middle;
  text-align: center;
}

main .grid .grid-item4 {
  background-color: #606060;
}

main .grid .grid-item4 .grid-text-container {
  position: relative;
  padding-left: 50px;
  padding-right: 50px;
}

main .grid .grid-item4 .grid-text-container div img {
  width: 40px;
  display: block;
  margin: 0 auto;
  color: white;
}

main .grid .grid-item4 h1 {
  font-weight: 100;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  color: white;
}

main .grid .grid-item4 span {
  font-size: 25px;
}

main .grid .grid-item5 {
  position: relative;
  background-image: url(/uploads/index/2.jpg);
  background-size: cover;
}

main .grid .grid-item5 h1 {
  font-weight: 100;
  font-size: 30px;
  text-transform: uppercase;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

main .grid .grid-item5 span {
  font-size: 25px;
  text-transform: initial;
}

main .grid .grid-item6 {
  background-color: #bbbbbb;
}

main .grid .grid-item6 .grid-text-container {
  position: relative;
  padding-left: 50px;
  padding-right: 50px;
}

main .grid .grid-item6 .grid-text-container div img {
  width: 40px;
  display: block;
  margin: 0 auto;
}

main .grid .grid-item6 .grid-text-container div:before {
  content: '';
  display: block;
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: #fff;
  right: calc(50% - 60px);
  top: 19px;
}

main .grid .grid-item6 .grid-text-container div:after {
  content: '';
  display: block;
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: #fff;
  left: calc(50% - 60px);
  top: 19px;
}

main .grid .grid-item6 p {
  font-size: 18px;
  vertical-align: middle;
  text-align: center;
}

main .grid .grid-item7 {
  background-image: url(/uploads/index/4.jpg);
  background-size: cover;
  -ms-grid-column: 4;
      grid-column-start: 4;
  grid-column-end: 5;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 4;
}

main .grid .grid-item7 h1 {
  font-weight: 100;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  color: white;
}

main .grid .grid-item7 span {
  font-size: 25px;
}

main .grid .grid-item8 {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 4;
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 4;
  position: relative;
}

main .grid .grid-item8::before {
  content: '';
  background-image: url(/uploads/index/6.jpg);
  background-size: cover;
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

main .grid .grid-item8 h1 {
  font-weight: 100;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  color: white;
  z-index: 1000;
}

main .grid .grid-item8 span {
  font-size: 25px;
  text-transform: initial;
  z-index: 1000;
}

main .grid .grid-item9 {
  background-color: #606060;
}

main .grid .grid-item9 .grid-text-container div img {
  width: 40px;
  display: block;
  margin: 0 auto;
  color: white;
}

main .grid .grid-item9 h1 {
  font-weight: 100;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  color: white;
}

main .grid .grid-item10 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 4;
}
/*# sourceMappingURL=main.css.map */