
ul.navigation_menu {  
    margin-left: 0px;
    padding-left: 0px;
    margin-top: 50px;
    margin-bottom: 50px;
        
  }
  
ul.navigation_menu li {
    font-size: 10px;
    display: inline;
    line-height: 18px;
    position: relative;
    text-transform: uppercase;
  }
    

ul.navigation_menu li+li:before {
    content: "/";
    bottom: 0;
    top: auto;
    margin: 0 10px;
  }
  
  .navigation_menu li a {  
    color: #202021;
    text-decoration: none;
    margin-left: 10px;
  }
  
ul.navigation_menu li a:hover {  
    color: #266ba7;
    text-decoration: underline;
  }
  